# Set default behavior to automatically normalize line endings
* text=auto

# Backend Models
backend/models/*.js text eol=lf
backend/models/**/*.js text eol=lf

# Node.js files
node_modules/** -text
**/node_modules/** -text
package.json text eol=lf
package-lock.json text eol=lf

# JavaScript files
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.mjs text eol=lf
*.cjs text eol=lf

# Config files
*.yml text eol=lf
*.yaml text eol=lf
*.config text eol=lf
*.properties text eol=lf

# Documentation
*.md text eol=lf
LICENSE text eol=lf